body {
    display: flex;
    background-color: #41393E;
}

.biggest-box {
    display: flex;
    background-color: red;
    width: 80%;
    height: 500px;
    padding: 50px;
    margin: 20px;
    border-radius: 30px;
}

.second-biggest-box {
    display: flex;
    background-color: yellowgreen;
    width: 80%;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}