body {
    display: flex;
    background-color: #41393E;
    color:bisque;
    font-family: 'Akshar', sans-serif;
    /* font-family: 'Michroma', sans-serif;
    font-family: 'Teko', sans-serif; */
}

.screen-header-text {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    margin-top: 0;
    margin-left: 1rem;
}

.biggest-box {
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 80%;
    height: 500px;
    padding: 0 0 2rem 0;
    margin: 20px;
    border-radius: 30px;
}

.second-biggest-box {
    display: flex;
    background-color: #41393E;
    width: 80%;
    height: 80%;
    border-radius: 0 15px 15px 0;
}